body{
	background-color: black;
	text-align: center;
}
   
h3 { /*color: white; 
	position: absolute; 
	left: 200px;
	top: 400px;
	z-index: -1;
	font-size: 35px;
	text-align: center;*/
}
/*div { background-color:white;
color:black;
}

.whitebox {

	width:100%;
	background-color:white;
	color:black;
}
*/

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
	text-align:center;
}

.nav li {
    float: left;
	list-style-type: none;
}
.nav li a {
	border-right: 5px solid black;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 36px;
    text-decoration: none;
}

.nav a:hover {
	background-color:#00ff00;
}

.list {
	display: block;
	list-style-type: disc;
	color: white;
	font-size: 20px;
}

.list li {
	text-align: left;
	color: white;
	font-size: 20px;
}

.aidan {
	color:white; 
    position: absolute;
	bottom: 0;
	right:2px;
}
  
p {
	color: #00ff00;
	font-size: 18px;
	font-family: "Times New Roman";
	text-align: left;
}

.downloads h3 {
	color: #00ff00;
	text-align: left;
	font-size:30px
}

.downloads a {
	color: lightgreen;
	
}
  
h1 {
	color: red;
	font-family: "Times New Roman";
	font-size: 50px;
	text-align: center;
}

h2 { 
color:lightblue;
}

.link {
	color:lightblue;
}

.top {
	color:lightblue;
	text-align:center;
}

h3 {
	color:#00ff00;
}